body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav li a {
    transition: all 0.5s ease-in-out;
}

/*img {
    width: 80%;
    height: auto;
}*/

.beautiful h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

.beautiful p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
}

#mainNavbar {
    font-size: 1.5 rem;
    font-weight: 300;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
    transition: all 0.25s ease-in-out;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup span {
    font-weight: 100;
    /*font-size: 3rem;*/
}

#headingGroup h1 {
    font-weight: 300;
    font-size: 1.7rem;
}

#headingGroup h5 {
    font-size: 1.25rem;
}

.navbar.scrolled {
    background: #DEC0DE;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup span {
        font-weight: 100;
        font-size: 1.7rem;
    }   
}

footer {
    background: #DEC0DE;
    padding: 0px;
    font-size: 25px;
}

#inline-list li {
    display: inline;
    /*color: #EA1C2C;*/
}

#social_icon a {
    color: white;
}

#social_icon a:hover {
    color: #EA1C2C;
    transition: all 0.5s ease-in-out;
}
/*#soc_icon .soc_icon_class {
    color: red;
}*/

